bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs
*.nupkg
*.nuproj
*.nuget.props
*.nuget.targets
.vscode/
.vs/
*.vsix
.idea/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
*.ps1
*.cmd
*.sh
*.bat
*.ncrunch*
*.cover
*.coveragexml
*.builds
*.dotCover
*.axoCover
*.vspscc
*.vssscc
*.mdf
*.ldf
*.sqlite
*.db
*.db-shm
*.db-wal
*.log
*.tmp
*.TMP
*.temp
*.Temp
*.o
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.scc
*.exp
*.swp
*.dsw
*.dsk
*.mpf
*.userprefs
*.csproj.user
*.vbproj.user
*.swp
*._ReSharper.*
*._resharper
*.dotSettings.user
appsettings.json
appsettings.Development.json
appsettings.Production.json
nuget.config
NuGet.Config
NuGet.exe
nuget.exe
NuGet.targets
NuGetTask.targets
